<nav class="bottom-nav">

    <a
        href="{% url 'billing:dashboard' %}"
        class="bottom-nav-item"
    >
        <span>⌂</span>
        <small>Inicio</small>
    </a>


    <a
        href="{% url 'billing:comprobantes' %}"
        class="bottom-nav-item"
    >
        <span>▤</span>
        <small>Comprobantes</small>
    </a>


    <a
        href="{% url 'billing:facturar' %}"
        class="bottom-nav-item bottom-nav-action"
    >
        <span>＋</span>
        <small>Facturar</small>
    </a>


    <a
        href="{% url 'billing:clientes' %}"
        class="bottom-nav-item"
    >
        <span>♙</span>
        <small>Clientes</small>
    </a>


    <a
        href="{% url 'tenant:configuracion' %}"
        class="bottom-nav-item"
    >
        <span>⚙</span>
        <small>Ajustes</small>
    </a>

</nav>